{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>
   <h3> Количество новостей : {{ posts | length }} </h3>
   <h3> {{ next_sale|default_if_none:"Следите за новостями!" }} </h3>
   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Опубликовано</td>
               <td>Содержание</td>



           </tr>

           <!-- Для каждого товара будете генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           product — переменная цикла, т.е. наш товар полученный из списка -->
           {% for Post in posts %}
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ Post.title | cenzura }}</td>
               <td>{{ Post.post_time }}</td>
               <td>{{ Post.content | truncatewords:20 | cenzura }}</td>


           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет. Ничего не происходит.</h2>

   {% endif %}
{% endblock content %}